:root {
  --bg-color: #000000;         /* Black */
  --accent-color: #333333;     /* Charcoal */
  --text-color: #D2B48C;       /* Desert Tan */
  --transition-speed: 0.3s;
  --font-stack: 'Roboto', sans-serif;
}

/* Global & Typography */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-stack);
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Custom Button Styles */
.btn-custom-primary {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--text-color) !important;
  transition: background-color var(--transition-speed), border-color var(--transition-speed);
}
.btn-custom-primary:hover,
.btn-custom-primary:focus,
.btn-custom-primary:active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--text-color) !important;
}

.btn-custom-secondary {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed), border-color var(--transition-speed);
}
.btn-custom-secondary:hover,
.btn-custom-secondary:focus,
.btn-custom-secondary:active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--text-color);
}

/* Link Styles */
a {
  color: var(--text-color);
  transition: color var(--transition-speed);
}
a:hover {
  color: var(--accent-color);
}

/* Balance */
.profit {
  color: green;
  font-size: 1.6rem;
}

.loss {
  color: red;
  font-size: 1.6rem;
}

